body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h1,
h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.resultats {
  margin-top: 20px;
}

.centre {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centre h2 {
  margin-top: 0;
}

a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

a:hover {
  background-color: #0056b3;
}
