/* settings-page.css */
body[data-theme='light'] {
    --surface-ground: var(--surface-a);
    --text-color: var(--text-color-primary);
    --background-color: #ffffff;
    --card-bg-color: #f9f9f9;
    --preview-bg-color: #e0e0e0;
}

body[data-theme='dark'] {
    --surface-ground: var(--surface-d);
    --text-color: var(--text-color-secondary);
    --background-color: #333333;
    --card-bg-color: #2c2c2c;
    --preview-bg-color: #444444;
}

.preview-card {
    background-color: var(--card-bg-color);
    color: var(--text-color);
}

.map-preview-container {
    border-radius: 8px;
    background-color: var(--preview-bg-color);
}
